@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Teko&display=swap");

* {
  font-family: "Lato", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardShadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-point:hover {
  cursor: pointer;
}
